<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:fragment="footer">
    <div class="footer">
      <span>PJ568 云上商城 <span>版权所有</span> © <span>PJ568</span></span>
      <a title="Github" th:href="@{https://github.com/PJ-568/spring-boot-qmdzy}">
        <i class="fab fa-github"></i>
      </a>
    </div>
    
    <!-- 加载进度条 -->
    <div class="loading-bar">
      <div class="progress"></div>
    </div>
    
    <!-- 预加载脚本 -->
    <script src="//lf6-cdn-tos.bytecdntp.com/cdn/expire-1-y/instant.page/5.1.0/instantpage.min.js"></script>
  </div>
</body>
</html>